.product-preview{
    position: relative;
  }
  .product-preview .time-data, .product-preview .heart-rate-data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
  }
  .time-data p, .heart-rate-data p, .heart-rate-data svg{
    color: #fff;
    font-weight: 700;
    font-size: 34px;
  }
  .heart-rate-data svg{
    color: #f00000;
    margin-bottom: 18px;
    font-size: 48px;
    animation: beat .5s infinite alternate;
    -webkit-animation: beat .5s infinite alternate;
  }
  .product-preview img{
    width: 100%;
  }

  /* animations */
@keyframes beat{
	to { transform: scale(1.4); }
}